@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --blue: #0D4C92;
    --darkBlue: #001253;
    --lightBlue: #1978e5;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}

/* Navbar */
nav {
    background-color: var(--blue);
    color: #fff;
    width: 90%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
}

nav .title,
nav .icons {
    display: inline-block;
    font-weight: bold;
    line-height: 1.5rem;
    font-size: large;
    letter-spacing: .1rem;
}

nav i {
    color: #fff;
}

nav i:hover {
    color: var(--lightBlue);
}

nav .title>span {
    color: var(--darkBlue);
    text-transform: lowercase;
}

nav button {
    background-color: transparent;
    border: none;
}

/* Login */
.login {
    background-color: #EEEEEE;
    width: 100%;
    min-height: 100vh !important;
    margin: 0;
    padding: 0;
    position: relative;
}

.logincomp {
    width: 40%;
    background-color: #fff;
    padding: 25px;
    border-radius: .5rem;
    box-shadow: 5px 5px 15px 4px #7B7B7B;
    position: absolute;
    top: 45%;
    left: 50%;
    translate: -50% -55%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.logincomp form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.logincomp .pws {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logincomp .pws input[type='password'] {
    width: 43% !important;
}

.logincomp input,
.logincomp .submit {
    border: 1px solid #000;
    border-radius: .5rem;
    padding: 10px;
}

.logincomp .submit {
    background-color: var(--blue);
    color: #fff;
    letter-spacing: .1rem;
    font-weight: bold;
    border: none;
}

.logincomp .submit:hover,
.home .input input[type='submit']:hover {
    background-color: var(--lightBlue);
}

.switch-div {
    border-top: 1px solid #000;
    display: flex;
}

.switch-div button {
    background-color: transparent;
    border: none;
    letter-spacing: .1rem;
    font-weight: bold;
    color: var(--blue);
    text-transform: uppercase;
}

.switch-div button:hover {
    color: var(--lightBlue);
}

.dropdown {
    position: absolute;
    top: 80px;
    right: 5%;
    background-color: var(--blue);
    color: #fff;
    border: 1px solid transparent;
    border-radius: .5rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    z-index: 3;
}

.dropdown button {
    background-color: transparent;
    border: none;
    color: #fff;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 5px;
}

.dropdown button:hover {
    border: 1px solid #fff;
    border-radius: .5rem;
}

.dropdown button span {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

/* Home */
.home {
    display: flex;
    min-height: 100vh;
}

.home .input {
    display: block;
    width: 20%;
    padding: 20px 5%;
    box-shadow: 5px 0px 10px rgb(98, 98, 98), 0px 5px 10px transparent;
    z-index: 1;
}


.home .input .category-div {
    display: flex;
    gap: .5rem;
    margin-bottom: 20px;
    align-items: center;
}

.home .input select,
.home .input-yes select {
    padding: 5px 10px;
    border-radius: .5rem;
}

.home .input input[type='submit'],
.home .input-yes input[type='submit'] {
    background-color: var(--blue);
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: .5rem;
    border: 1px solid transparent;
    letter-spacing: .1rem;
    font-weight: bold;
}

.home .input textarea {
    border-radius: .5rem;
    border: 1px solid rgb(98, 98, 98);
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    resize: none;
}

.home .notes {
    width: 60%;
    padding: 20px 5%;
    background-color: #EEEEEE;
    position: relative;
}

.home .btn-menu {
    display: flex;
    gap: .5rem;
}

.home .refresh-btn:hover,
.home .filter-btn:hover,
.home .sort-btn:hover {
    border-color: #fff;
    background-color: var(--lightBlue);
}

:disabled {
    background-color: #dddddd !important;
}

.search-btn:disabled {
    background-color: #222222 !important;
}

.home .refresh-btn,
.home .filter-btn,
.home .sort-btn {
    background-color: var(--blue);
    transition-duration: 500ms;
    color: #fff;
    border: 1px solid transparent;
    border-radius: .5rem;
    padding: 5px 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.transform {
    transform: rotate(180deg);
}

.home .search-btn {
    background-color: #f2b36d;
    background-image: url(./search-icon.svg);
    background-size: 15px;
    background-position: 45% 50%;
    background-repeat: no-repeat;
    transition-duration: 500ms;
    width: 20px;
    color: #000;
    border: 1px solid transparent;
    border-radius: .5rem;
    padding: 5px 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    filter: invert(100%);
}

.home .search-btn:focus {
    width: 150px;
    background-position: 10px 50%;
    padding-left: 40px;
    cursor: text;
    outline: none;
}

.home .notes .note-div {
    width: 100%;
    min-height: 100vh;
    border-radius: .5rem;
    box-shadow: 5px 5px 15px 4px #7B7B7B;
    background-color: #fff;
    position: relative;
}

.note-div ul {
    list-style-type: none;
    margin: 0;
    padding: 0 !important;
}

.note-div ul li {
    border-bottom: 1px solid #EEEEEE;
    padding: 10px 20px;
    position: relative;
}

.note-div ul li:last-child {
    border-bottom: none;
}

.note-div ul li p {
    width: 90%;
}

.note-div ul li .btn-group {
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: .5rem;
    border: 1px solid var(--blue);
    padding: 5px 10px;
    display: flex;
    gap: .5rem;
}

.note-div .btn-group i {
    color: var(--blue);
}

.note-div .btn-group i:hover {
    color: var(--lightBlue);
}

.note-div .btn-group button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.note-div .header {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.title-maxwarning {
    color: #7B7B7B;
    font-size: small;
    margin: 0 0 10px 10px;
}

.title {
    margin-bottom: 10px !important;
}

.note-div .date {
    font-style: italic;
    font-size: small;
    color: #7B7B7B;
}

.category {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.succReg {
    color: green;
    letter-spacing: .1rem;
    font-weight: bold;
}


/* Delete Modal */
.deletemodal {
    box-shadow: 5px 5px 15px 4px #7B7B7B;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 3;
    background-color: var(--blue);
    color: #fff;
    border: 1px solid transparent;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 250px;
    height: 150px;
}

.deletemodal .text {
    width: 100%;
    height: 50%;
    display: flex;
    border-bottom: 1px solid #fff;
    justify-content: center;
    align-items: center;
}

.deletemodal .buttons {
    display: flex;
    height: 50%;
    width: 100%;
}

.deletemodal .btn-left {
    width: 50%;
    height: 100%;
    border-right: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deletemodal button {
    color: #fff;
    background-color: transparent;
    border: none;
    font-weight: bold;
    letter-spacing: .1rem;
    height: 100%;
    width: 100%;

}

.deletemodal .btn-left button:hover {
    background-color: var(--lightBlue);
    border-bottom-left-radius: .5rem;
}

.deletemodal .btn-right button:hover {
    background-color: var(--lightBlue);
    border-bottom-right-radius: .5rem;
}

.deletemodal .btn-right {
    width: 50%;
    height: 100%;
    border-left: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Filter modal */
.filtermodal,
.sortmodal {
    box-shadow: 5px 5px 15px 4px #7B7B7B;
    z-index: 3;
    background-color: var(--blue);
    color: #fff;
    border: 1px solid transparent;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    position: absolute;
    padding: 20px;

}

/* Edit modal */
.editmodal {
    box-shadow: 5px 5px 15px 4px #7B7B7B;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 3;
    background-color: var(--blue);
    color: #fff;
    border: 1px solid transparent;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 300px;
    height: 400px;
}

.editmodal button,
.editmodal input[type='submit'] {
    color: #fff;
    background-color: transparent;
    border: none;
    font-weight: bold;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.editmodal button:hover,
.editmodal input[type='submit']:hover {
    border: 1px solid #fff;
    border-radius: .5rem;
    background-color: var(--lightBlue);
    padding: 10px 20px;
}

.red {
    color: red;
    font-weight: bold;
    letter-spacing: .1rem;
}


/* Settings */
.settings {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: var(--blue);
    border: 1px solid transparent;
    border-radius: .5rem;
    color: #fff;
    padding: 20px;
    box-shadow: 5px 5px 15px 4px #7B7B7B;
}

.settings .name,
.settings .email,
.settings .password {
    display: flex;
    gap: .5rem;
}

.settings label {
    width: 100px;
}

.settings input {
    border-radius: .5rem;
    border: 1px solid transparent;
    padding: 5px 10px;
    width: 160px;
}

.settings button {
    background-color: transparent;
    color: #fff;
    border: none;
    font-weight: bold;
    letter-spacing: .1rem;
    padding: 5px;
}

.settings button:hover {
    background-color: var(--lightBlue);
    border-radius: .5rem;
    border: 1px solid #fff;
}

.close,
.close:hover {
    background-color: transparent !important;
    border: none !important;
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 0 !important;
    color: #fff;
}

.add {
    display: none;
}

@media (max-width: 576px) {
    .logincomp {
        width: 80%;
        gap: 1.5rem;
    }

    .add {
        display: inline;
        margin-right: 15px;
        padding: 5px;
    }

    .add:hover {
        border: 1px solid #fff;
        border-radius: 50%;
        color: #fff;
        background-color: var(--lightBlue);
    }

    .home .input-mobile {
        display: none;
    }

    .home .input-mobile-yes {
        display: block;
        width: 100%;
    }

    .home .notes-mobile {
        width: 100%;
        display: block;

    }

    .home .notes-mobile-no {
        display: none;
    }

    .settings,
    .editmodal {
        width: 80% !important;
        gap: 1rem;
    }

}


/* Filter */
.filter-category-div {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 10px;
}

.filter-category-div .category-filter {
    width: 50px;
    padding-left: 10px;
}

.filter-hide-btn {
    background-color: transparent;
    border: none;
    filter: invert(100%);
}

.filter-hide-btn:hover {
    color: #7B7B7B;
}

.filtermodal {
    justify-content: center;
    padding-left: 30px;
}


/* LOAD ANIMATION */
.load-wrap {
    width: 100px;
    height: 100px;
    text-align: center;
    position: fixed;
    top: 40%;
    left: 50%;
    translate: 50% 60%;
}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

.load .line:nth-last-child(1) {
    animation: loading 0.6s 0.1s linear infinite;
}

.load .line:nth-last-child(2) {
    animation: loading 0.6s 0.2s linear infinite;
}

.load .line:nth-last-child(3) {
    animation: loading 0.6s 0.3s linear infinite;
}

@keyframes loading {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, 0);
    }
}